临时稿/flows.json
[{"id":"38bd63d5.88aa7c","type":"tab","label":"APP"},{"id":"cbc4a4e9.d1cb38","type":"tab","label":"MeBox"},{"id":"1c020914.315bb7","type":"mqtt-broker","z":"38bd63d5.88aa7c","broker":"115.28.241.149","port":"1981","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"86ab3f2e.24368","type":"mqtt-broker","z":"cbc4a4e9.d1cb38","broker":"115.28.241.149","port":"1981","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d2182384.eff7f","type":"inject","z":"38bd63d5.88aa7c","name":"set_mode(MeBoost)","topic":"","payload":"3e83253c-ff4f-4fa8-b51c-0cb29c4ec0b9","payloadType":"str","repeat":"","crontab":"","once":false,"x":192.50001525878906,"y":152.8000030517578,"wires":[["f213e73c.b63d48"]]},{"id":"f213e73c.b63d48","type":"function","z":"38bd63d5.88aa7c","name":"package_request","func":"var requestPayload = {\n    devices:[msg.payload],\n    topic:\"RPC_CALL\",\n    fromUuid:\"5a78df24-21b2-4577-a6fb-ad6d3791b0d1\",\n    callbackId: context.global.uuid.v4(),\n    payload:{\n    cmdName:\"forward\",\n    cmdCode:\"0001\",\n    options:{\n            uuid:\"9978df24-21b2-4577-a6fb-ad6d3791b099\",\n            deviceType:\"040B08040003\",\n            cmd:{\n                cmdName:\"set_mode\",\n    \t\t\tcmdCode:\"0001\",\n    \t\t\toptions:{\n    \t\t\t\tmode:\"ECO\"\n    \t\t\t}   \n            }\n        }\n    }\n};\nvar request={\n    payload:requestPayload\n};\nreturn request;","outputs":1,"noerr":0,"x":439.20001220703125,"y":152.1999969482422,"wires":[["884f2697.85dce8","7b429455.74e12c"]]},{"id":"884f2697.85dce8","type":"debug","z":"38bd63d5.88aa7c","name":"","active":true,"console":"false","complete":"true","x":974.4999771118164,"y":85,"wires":[]},{"id":"9510edd8.e5f4","type":"function","z":"38bd63d5.88aa7c","name":"ParseMessage","func":"var request = JSON.parse(msg.payload);\nreturn request.data;","outputs":1,"noerr":0,"x":429.99998474121094,"y":590.0000228881836,"wires":[["d1b4da0f.339b78"]]},{"id":"d1b4da0f.339b78","type":"switch","z":"38bd63d5.88aa7c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"RPC_BACK","vt":"str"},{"t":"eq","v":"RPC_CALL","vt":"str"}],"checkall":"true","outputs":2,"x":670.9999847412109,"y":590.0000228881836,"wires":[["70aa4cc6.6f87f4"],["70052fb5.b3104"]]},{"id":"34cb8672.729aba","type":"debug","z":"38bd63d5.88aa7c","name":"","active":true,"console":"false","complete":"true","x":417.99998474121094,"y":669.0000228881836,"wires":[]},{"id":"70aa4cc6.6f87f4","type":"function","z":"38bd63d5.88aa7c","name":"RPC_BACK","func":"return msg;","outputs":1,"noerr":0,"x":838.9999847412109,"y":511.00000762939453,"wires":[["f31bfc37.a013c"]]},{"id":"70052fb5.b3104","type":"switch","z":"38bd63d5.88aa7c","name":"RPC_CALL","property":"payload.cmdCode","propertyType":"msg","rules":[],"checkall":"true","outputs":0,"x":839.9999847412109,"y":666.9999771118164,"wires":[]},{"id":"c03b2097.6713","type":"inject","z":"38bd63d5.88aa7c","name":"set_timer(MeBoost)","topic":"","payload":"3e83253c-ff4f-4fa8-b51c-0cb29c4ec0b9","payloadType":"str","repeat":"","crontab":"","once":false,"x":182,"y":445.99999237060547,"wires":[["5f07cdf.3317f34"]]},{"id":"e9107c89.3ed0c","type":"inject","z":"38bd63d5.88aa7c","name":"get_timer(MeBoost)","topic":"","payload":"3e83253c-ff4f-4fa8-b51c-0cb29c4ec0b9","payloadType":"str","repeat":"","crontab":"","once":false,"x":177,"y":523.9999923706055,"wires":[["91c11840.371d68"]]},{"id":"827a8734.955878","type":"inject","z":"38bd63d5.88aa7c","name":"get_mode(MeBoost)","topic":"","payload":"3e83253c-ff4f-4fa8-b51c-0cb29c4ec0b9","payloadType":"str","repeat":"","crontab":"","once":false,"x":189,"y":228,"wires":[["9b54152b.f3e878"]]},{"id":"9b54152b.f3e878","type":"function","z":"38bd63d5.88aa7c","name":"package_request","func":"var requestPayload = {\n    devices:[msg.payload],\n    topic:\"RPC_CALL\",\n    fromUuid:\"5a78df24-21b2-4577-a6fb-ad6d3791b0d1\",\n    callbackId: context.global.uuid.v4(),\n    payload:{\n    cmdName:\"forward\",\n    cmdCode:\"0001\",\n    options:{\n            uuid:\"9978df24-21b2-4577-a6fb-ad6d3791b099\",\n            deviceType:\"040B08040003\",\n            cmd:{\n                cmdName:\"get_mode\",\n    \t\t\tcmdCode:\"0002\",\n    \t\t\toptions:{}   \n            }\n        }\n    }\n};\nvar request={\n    payload:requestPayload\n};\nreturn request;","outputs":1,"noerr":0,"x":438.99998474121094,"y":228,"wires":[["884f2697.85dce8","7b429455.74e12c"]]},{"id":"5f07cdf.3317f34","type":"function","z":"38bd63d5.88aa7c","name":"package_request","func":"var requestPayload = {\n    devices:[msg.payload],\n    topic:\"RPC_CALL\",\n    fromUuid:\"5a78df24-21b2-4577-a6fb-ad6d3791b0d1\",\n    callbackId: context.global.uuid.v4(),\n    payload:{\n        cmdName:\"set_timer\",\n        cmdCode:\"0002\",\n        options:{\n            name:\"myWorkingDayTimer\",\n    \t\tmode:\"SERIES\",\n    \t\tinterval:0,\n    \t\tbetween:[\"09:00\", \"18:00\"],\n    \t\tweekday:[1,2,3,4,5],\n    \t\tenable:true,\n    \t\tcmds:[\n    \t\t\t{\n    \t\t\t\tuuid:\"xxxxx-methermostat-uuid-xxxxx\",\n    \t\t\t\tdeviceType:\"040B08070001\",\n    \t\t\t\tcmd:{\n    \t\t\t\t\tcmdName:\"set_setPoint\",\n    \t\t\t\t\tcmdCode:\"0004\",\n    \t\t\t\t\toptions:{\n    \t\t\t\t\t\tmode:\"AUTO\",\n    \t\t\t\t\t\tsetPoint:20\n    \t\t\t\t\t}\n    \t\t\t\t}\n    \t\t\t},\n    \t\t\t{\n    \t\t\t\tuuid:\"xxxxx-methermostat-uuid-xxxxx\",\n    \t\t\t\tdeviceType:\"040B08070001\",\n    \t\t\t\tcmd:{\n    \t\t\t\t\tcmdName:\"set_setPoint\",\n    \t\t\t\t\tcmdCode:\"0004\",\n    \t\t\t\t\toptions:{\n    \t\t\t\t\t\tmode:\"AUTO\",\n    \t\t\t\t\t\tsetPoint:27\n    \t\t\t\t\t}\n    \t\t\t\t}\n    \t\t\t}\n    \t\t]\n        }\n    }\n};\nvar request={\n    payload:requestPayload\n};\nreturn request;","outputs":1,"noerr":0,"x":433.99998474121094,"y":446,"wires":[["884f2697.85dce8","7b429455.74e12c"]]},{"id":"91c11840.371d68","type":"function","z":"38bd63d5.88aa7c","name":"package_request","func":"var requestPayload = {\n    devices:[msg.payload],\n    topic:\"RPC_CALL\",\n    fromUuid:\"5a78df24-21b2-4577-a6fb-ad6d3791b0d1\",\n    callbackId: context.global.uuid.v4(),\n    payload:{\n    cmdName:\"get_timer\",\n    cmdCode:\"0003\",\n    options:{\n            timerId:\"xxxx-timer-uuid-xxxx\"\n        }\n    }\n};\nvar request={\n    payload:requestPayload\n};\nreturn request;","outputs":1,"noerr":0,"x":435,"y":523.9999923706055,"wires":[["7b429455.74e12c"]]},{"id":"d5727c49.bcbc4","type":"inject","z":"38bd63d5.88aa7c","name":"get_meter(MeBoost)","topic":"","payload":"3e83253c-ff4f-4fa8-b51c-0cb29c4ec0b9","payloadType":"str","repeat":"","crontab":"","once":false,"x":176.81253051757812,"y":299.8187561035156,"wires":[["92c072c2.eff1"]]},{"id":"92c072c2.eff1","type":"function","z":"38bd63d5.88aa7c","name":"package_request","func":"var requestPayload = {\n    devices:[msg.payload],\n    topic:\"RPC_CALL\",\n    fromUuid:\"5a78df24-21b2-4577-a6fb-ad6d3791b0d1\",\n    callbackId: context.global.uuid.v4(),\n    payload:{\n    cmdName:\"forward\",\n    cmdCode:\"0001\",\n    options:{\n            uuid:\"9978df24-21b2-4577-a6fb-ad6d3791b099\",\n            deviceType:\"040B08040003\",\n            cmd:{\n                cmdName:\"get_meter\",\n    \t\t\tcmdCode:\"0003\",\n    \t\t\toptions:{\n    \t\t\t   \tmeter:[\n        \t\t\t\t\"power\", \n        \t\t\t\t\"voltage\", \n        \t\t\t\t\"electric_current\", \n        \t\t\t\t\"energy_used\", \n        \t\t\t\t\"energy_saved\"\n    \t\t\t\t]\n    \t\t\t}   \n            }\n        }\n    }\n};\nvar request={\n    payload:requestPayload\n};\nreturn request;","outputs":1,"noerr":0,"x":439.8125,"y":296.8187484741211,"wires":[["884f2697.85dce8","7b429455.74e12c"]]},{"id":"50f02b2f.5bf284","type":"inject","z":"38bd63d5.88aa7c","name":"set_meter(MeBoost)","topic":"","payload":"3e83253c-ff4f-4fa8-b51c-0cb29c4ec0b9","payloadType":"str","repeat":"","crontab":"","once":false,"x":190.8125,"y":374.8187484741211,"wires":[["3b5300d1.d4f69"]]},{"id":"3b5300d1.d4f69","type":"function","z":"38bd63d5.88aa7c","name":"package_request","func":"var requestPayload = {\n    devices:[msg.payload],\n    topic:\"RPC_CALL\",\n    fromUuid:\"5a78df24-21b2-4577-a6fb-ad6d3791b0d1\",\n    callbackId: context.global.uuid.v4(),\n    payload:{\n    cmdName:\"forward\",\n    cmdCode:\"0001\",\n    options:{\n            uuid:\"9978df24-21b2-4577-a6fb-ad6d3791b099\",\n            deviceType:\"040B08040003\",\n            cmd:{\n                cmdName:\"set_meter\",\n    \t\t\tcmdCode:\"0004\",\n    \t\t\toptions:{}   \n            }\n        }\n    }\n};\nvar request={\n    payload:requestPayload\n};\nreturn request;","outputs":1,"noerr":0,"x":439.81248474121094,"y":374.8187561035156,"wires":[["884f2697.85dce8","7b429455.74e12c"]]},{"id":"f10fd8a1.a2fd08","type":"debug","z":"cbc4a4e9.d1cb38","name":"","active":true,"console":"false","complete":"false","x":442.6999206542969,"y":168.00003051757812,"wires":[]},{"id":"f3349e91.3a46f","type":"function","z":"cbc4a4e9.d1cb38","name":"ParseMessage","func":"var request = JSON.parse(msg.payload);\nreturn request.data;","outputs":1,"noerr":0,"x":449.6999053955078,"y":232.79998016357422,"wires":[["95a76ee0.a8824"]]},{"id":"95a76ee0.a8824","type":"switch","z":"cbc4a4e9.d1cb38","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"RPC_CALL","vt":"str"},{"t":"eq","v":"RPC_BACK","vt":"str"}],"checkall":"true","outputs":2,"x":653.6999053955078,"y":232.99999237060547,"wires":[["9cd6f9f0.f59da8"],["a02cc941.ed61c8"]]},{"id":"9cd6f9f0.f59da8","type":"switch","z":"cbc4a4e9.d1cb38","name":"RPC_CALL","property":"payload.cmdCode","propertyType":"msg","rules":[{"t":"eq","v":"0001","vt":"str"},{"t":"eq","v":"0002","vt":"str"},{"t":"eq","v":"0003","vt":"str"},{"t":"eq","v":"0004","vt":"str"},{"t":"eq","v":"0005","vt":"str"}],"checkall":"true","outputs":5,"x":846.1999206542969,"y":151.9999771118164,"wires":[["1c7364a4.69a77b"],["da5b47fe.8d4e38"],["2d1bbd8f.42f212"],["9513a259.c48df"],["80aa74d6.76c108"]]},{"id":"77d855a4.5e144c","type":"function","z":"cbc4a4e9.d1cb38","name":"set_mode","func":"var retMsg = {\n    payload:{\n        devices:[msg.fromUuid],\n        topic:\"RPC_BACK\",\n        fromUuid: msg.devices[0],\n        callbackId:msg.callbackId,\n        payload:{\n            retCode: 200,\n            description: \"set_mode\",\n            data: {\n                retCode: 200,\n                description: \"set_mode\",\n                data: {}\n            }\n        }\n    }\n}\nreturn retMsg;","outputs":1,"noerr":0,"x":1612.1999130249023,"y":154.99999237060547,"wires":[["2df5f38f.8fe2dc","ff2fed04.264f"]]},{"id":"da5b47fe.8d4e38","type":"function","z":"cbc4a4e9.d1cb38","name":"setTimer","func":"var retMsg = {\n    payload:{\n        devices:[msg.fromUuid],\n        topic:\"RPC_BACK\",\n        fromUuid: msg.devices[0],\n        callbackId:msg.callbackId,\n        payload:{\n            retCode: 200,\n            description: \"set_timer\",\n            data: {\n               timerId: context.global.uuid.v4(),\n            }\n        }\n    }\n}\nreturn retMsg;","outputs":1,"noerr":0,"x":1094.199951171875,"y":375.99996185302734,"wires":[["2df5f38f.8fe2dc","ff2fed04.264f"]]},{"id":"2d1bbd8f.42f212","type":"function","z":"cbc4a4e9.d1cb38","name":"getTimer","func":"var retMsg = {\n    payload:{\n        devices:[msg.fromUuid],\n        topic:\"RPC_BACK\",\n        fromUuid: msg.devices[0],\n        callbackId:msg.callbackId,\n        payload:{\n            retCode: 200,\n            description: \"get_timer\",\n            data: {\n                timerId:\"xxxx-timer-uuid-xxxx\",\n                name:\"myTimer\",\n        \t\tmode:\"SERIES\",\n        \t\tinterval:0,\n        \t\tbetween:[\"09:00\", \"18:00\"],\n        \t\tweekday:[1,2,3,4,5],\n        \t\tenable:true,\n        \t\tcmds:[\n        \t\t\t{\n        \t\t\t\tuuid:\"xxxxx-methermostat-uuid-xxxxx\",\n        \t\t\t\tdeviceType:\"040B08070001\",\n        \t\t\t\tcmd:{\n        \t\t\t\t\tcmdName:\"set_setPoint\",\n        \t\t\t\t\tcmdCode:\"0004\",\n        \t\t\t\t\toptions:{\n        \t\t\t\t\t\tmode:\"AUTO\",\n        \t\t\t\t\t\tsetPoint:20\n        \t\t\t\t\t}\n        \t\t\t\t}\n        \t\t\t},\n        \t\t\t{\n        \t\t\t\tuuid:\"xxxxx-methermostat-uuid-xxxxx\",\n        \t\t\t\tdeviceType:\"040B08070001\",\n        \t\t\t\tcmd:{\n        \t\t\t\t\tcmdName:\"set_setPoint\",\n        \t\t\t\t\tcmdCode:\"0004\",\n        \t\t\t\t\toptions:{\n        \t\t\t\t\t\tmode:\"AUTO\",\n        \t\t\t\t\t\tsetPoint:27\n        \t\t\t\t\t}\n        \t\t\t\t}\n        \t\t\t}\n        \t\t]\n            }\n        }\n    }\n}\nreturn retMsg;","outputs":1,"noerr":0,"x":1094.1999969482422,"y":441.9999580383301,"wires":[["2df5f38f.8fe2dc","ff2fed04.264f"]]},{"id":"2df5f38f.8fe2dc","type":"debug","z":"cbc4a4e9.d1cb38","name":"","active":true,"console":"false","complete":"false","x":1912.199966430664,"y":374.9999885559082,"wires":[]},{"id":"a02cc941.ed61c8","type":"function","z":"cbc4a4e9.d1cb38","name":"RPC_BACK","func":"\nreturn msg;","outputs":1,"noerr":0,"x":852.1998901367188,"y":592.9999618530273,"wires":[["eea28301.14f7b"]]},{"id":"eea28301.14f7b","type":"debug","z":"cbc4a4e9.d1cb38","name":"","active":false,"console":"false","complete":"false","x":1115.199951171875,"y":592.9999580383301,"wires":[]},{"id":"1c7364a4.69a77b","type":"switch","z":"cbc4a4e9.d1cb38","name":"forward","property":"payload.options.deviceType","propertyType":"msg","rules":[{"t":"eq","v":"040B08070001","vt":"str"},{"t":"eq","v":"040B08040003","vt":"str"},{"t":"eq","v":"040B08090001","vt":"str"},{"t":"eq","v":"040B08080001","vt":"str"}],"checkall":"true","outputs":4,"x":1094.199935913086,"y":139.99996185302734,"wires":[["62d5958a.ab27ec"],["f783bb59.cd5998"],["aa0eddb0.8e2cb"],["37470111.ce308e"]]},{"id":"62d5958a.ab27ec","type":"switch","z":"cbc4a4e9.d1cb38","name":"MeThermostate","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":1341.199951171875,"y":120.99999237060547,"wires":[[]]},{"id":"f783bb59.cd5998","type":"switch","z":"cbc4a4e9.d1cb38","name":"MeBoost","property":"payload.options.cmd.cmdCode","propertyType":"msg","rules":[{"t":"eq","v":"0001","vt":"str"},{"t":"eq","v":"0002","vt":"str"},{"t":"eq","v":"0003","vt":"str"},{"t":"eq","v":"0004","vt":"str"}],"checkall":"true","outputs":4,"x":1323.199935913086,"y":192.99999237060547,"wires":[["77d855a4.5e144c"],["29b73fab.b4a3d"],["233a325c.06568e"],["c1349375.d0b56"]]},{"id":"aa0eddb0.8e2cb","type":"switch","z":"cbc4a4e9.d1cb38","name":"MeSwitch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":1333.199951171875,"y":273.99999237060547,"wires":[[]]},{"id":"37470111.ce308e","type":"switch","z":"cbc4a4e9.d1cb38","name":"MeHotwater","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":1330.199951171875,"y":331.99999237060547,"wires":[[]]},{"id":"29b73fab.b4a3d","type":"function","z":"cbc4a4e9.d1cb38","name":"get_mode","func":"var retMsg = {\n    payload:{\n        devices:[msg.fromUuid],\n        topic:\"RPC_BACK\",\n        fromUuid: msg.devices[0],\n        callbackId:msg.callbackId,\n        payload:{\n            retCode: 200,\n            description: \"get_mode\",\n            data: {\n                retCode: 200,\n                description: \"get_mode\",\n                data: {\n                    mode:\"AUTO\"\n                }\n            }\n        }\n    }\n}\nreturn retMsg;","outputs":1,"noerr":0,"x":1612.6123962402344,"y":212.01873016357422,"wires":[["2df5f38f.8fe2dc","ff2fed04.264f"]]},{"id":"233a325c.06568e","type":"function","z":"cbc4a4e9.d1cb38","name":"get_meter","func":"var retMsg = {\n    payload:{\n        devices:[msg.fromUuid],\n        topic:\"RPC_BACK\",\n        fromUuid: msg.devices[0],\n        callbackId:msg.callbackId,\n        payload:{\n            retCode: 200,\n            description: \"get_meter\",\n            data: {\n                retCode: 200,\n                description: \"get_meter\",\n                data: []\n            }\n        }\n    }\n}\n\nvar arrayMeter = msg.payload.options.cmd.options.meter;\nvar arrayLen = arrayMeter.length;\nfor(var index = 0; index< arrayLen; index++ ){\n    retMsg.payload.payload.data.data.push({\n        meter:arrayMeter[index],\n        value:index\n    })\n}\nreturn retMsg;","outputs":1,"noerr":0,"x":1612.6123886108398,"y":271.0187301635742,"wires":[["2df5f38f.8fe2dc","ff2fed04.264f"]]},{"id":"c1349375.d0b56","type":"function","z":"cbc4a4e9.d1cb38","name":"set_meter","func":"var retMsg = {\n    payload:{\n        devices:[msg.fromUuid],\n        topic:\"RPC_BACK\",\n        fromUuid: msg.devices[0],\n        callbackId:msg.callbackId,\n        payload:{\n            retCode: 200,\n            description: \"set_meter\",\n            data: {\n                retCode: 200,\n                description: \"set_meter\",\n                data: {}\n            }\n        }\n    }\n}\nreturn retMsg;","outputs":1,"noerr":0,"x":1611.6123886108398,"y":331.0187301635742,"wires":[["ff2fed04.264f"]]},{"id":"bf950d0e.e7d6","type":"function","z":"cbc4a4e9.d1cb38","name":"hanlde_lookup","func":"var retMsg = {\n    ip : msg.ip,\n    port : 4142\n};\nvar device = {\n    'op':'discover',\n    'device':{\n        'ServerName':'MeBox',\n        'MAC':'5C-C5-D4-6A-31-37',\n        'FW-VAR':'0.1.11',\n        'PRODUCT-TYPE':'WW010201-1000EU'\n    }\n}\nretMsg.payload = JSON.stringify(device);\nreturn retMsg;","outputs":1,"noerr":0,"x":812.7999572753906,"y":806.2000961303711,"wires":[["9225e8ef.e5d0e8","14608b77.971a25"]]},{"id":"9225e8ef.e5d0e8","type":"udp out","z":"cbc4a4e9.d1cb38","name":"MeBox_UDP_Client","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1061.7999114990234,"y":888.8000869750977,"wires":[]},{"id":"14608b77.971a25","type":"debug","z":"cbc4a4e9.d1cb38","name":"","active":true,"console":"false","complete":"true","x":1022.7999114990234,"y":805.1999893188477,"wires":[]},{"id":"a84d2fb0.fcf3","type":"switch","z":"cbc4a4e9.d1cb38","name":"swtich","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"MeBox","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":546.7999420166016,"y":826.4000015258789,"wires":[["bf950d0e.e7d6"],["adc6082d.633188","c3303a1b.6c2a58"]]},{"id":"c3303a1b.6c2a58","type":"function","z":"cbc4a4e9.d1cb38","name":"save_config","func":"if(msg.payload){\n    msg.filename = './STORAGE/DeviceAuth/5C-C5-D4-6A-31-37_Auth.txt';\n    msg.payload = JSON.parse(msg.payload).conifg;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":805.7999114990234,"y":977.1999893188477,"wires":[["7e94f0eb.9627d","ebd670c.2f30f9"]]},{"id":"1cf39800.899ce8","type":"udp in","z":"cbc4a4e9.d1cb38","name":"MeBox_UDP_Server","iface":"","port":"4141","ipv":"udp4","multicast":"false","group":"192.168.0.255","datatype":"utf8","x":198.7999267578125,"y":901.7999725341797,"wires":[["a84d2fb0.fcf3","e5e62065.6f4df"]]},{"id":"e5e62065.6f4df","type":"debug","z":"cbc4a4e9.d1cb38","name":"","active":true,"console":"false","complete":"true","x":548.7999572753906,"y":901.6000289916992,"wires":[]},{"id":"7e94f0eb.9627d","type":"debug","z":"cbc4a4e9.d1cb38","name":"","active":true,"console":"false","complete":"payload","x":1047.7999114990234,"y":976.5999526977539,"wires":[]},{"id":"ebd670c.2f30f9","type":"file","z":"cbc4a4e9.d1cb38","name":"Storage_deviceAuth","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1073.7999420166016,"y":1061.7999687194824,"wires":[]},{"id":"8db3ea77.a619c8","type":"udp out","z":"38bd63d5.88aa7c","name":"APP_UDP_BROADCAST","addr":"192.168.0.255","iface":"192.168.0.101","port":"4141","ipv":"udp4","outport":"","base64":false,"multicast":"broad","x":841.4000244140625,"y":791.4000244140625,"wires":[]},{"id":"2ef3f39.88ec60c","type":"inject","z":"38bd63d5.88aa7c","name":"APP(Discover)","topic":"","payload":"MeBox","payloadType":"str","repeat":"","crontab":"","once":false,"x":166.4000244140625,"y":791.7999877929688,"wires":[["4f40b594.eb754c"]]},{"id":"85eb81de.3d37a","type":"udp in","z":"38bd63d5.88aa7c","name":"APP_UDP_Server","iface":"","port":"4142","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":147.40000915527344,"y":884.1999893188477,"wires":[["e8a65beb.38db48"]]},{"id":"6ea7641a.de403c","type":"debug","z":"38bd63d5.88aa7c","name":"","active":true,"console":"false","complete":"true","x":1048.3999786376953,"y":872.3999938964844,"wires":[]},{"id":"f5fee417.07ca08","type":"http request","z":"38bd63d5.88aa7c","name":"","method":"POST","ret":"obj","url":"http://115.28.241.149:6565/devices","tls":"","x":1149.3999633789062,"y":1000.4000091552734,"wires":[["d364fa0e.e77718","d9bbeed5.b48ee"]]},{"id":"277620b3.a6c0b","type":"function","z":"38bd63d5.88aa7c","name":"package_request","func":"if(msg.payload){\n    var request={\n        headers:{\n            \"meshblu_auth_uuid\":\"5a78df24-21b2-4577-a6fb-ad6d3791b0d1\",\n            \"meshblu_auth_token\":\"e058df154631c82002aa4a98d31e1ffd5b757afb\",\n            \"Content-Type\":\"application/json\"\n        },\n        payload:{\n            userId:\"5a78df24-21b2-4577-a6fb-ad6d3791b0d1\",\n            combine:\"\",\n            name:\"MeBox\",\n            description:\"TEST_DATA\",\n            icon:\"\",\n            owner:\"5a78df24-21b2-4577-a6fb-ad6d3791b0d1\",\n            type:{\n                id:\"030B08000004\",\n                name:\"MeBox\",\n                icon:\"\"\n            },\n            extra:JSON.parse(msg.payload).deviceInfo\n        }\n    };\n    return request;\n}","outputs":1,"noerr":0,"x":858.4000549316406,"y":1004.4000091552734,"wires":[["f5fee417.07ca08","3add97.de1f626a"]]},{"id":"3add97.de1f626a","type":"debug","z":"38bd63d5.88aa7c","name":"","active":true,"console":"false","complete":"true","x":1127.3999938964844,"y":947.3999938964844,"wires":[]},{"id":"d364fa0e.e77718","type":"debug","z":"38bd63d5.88aa7c","name":"","active":true,"console":"true","complete":"true","x":1334.3999938964844,"y":947.3999938964844,"wires":[]},{"id":"d9bbeed5.b48ee","type":"function","z":"38bd63d5.88aa7c","name":"Parse_response","func":"if(msg.statusCode == 201){\n    var confMsg={};\n    var payload = {\n        config:{\n            uuid:msg.payload.uuid, \n            token:msg.payload.token\n        }\n    };\n    confMsg.payload = JSON.stringify(payload);\n    return confMsg;\n}\nelse{\n    console.log(\"Add device failed!\");\n}","outputs":1,"noerr":0,"x":1357.9999633789062,"y":1000.3999938964844,"wires":[["61f0317e.86b21"]]},{"id":"61f0317e.86b21","type":"join","z":"38bd63d5.88aa7c","name":"","mode":"custom","build":"merged","property":"","propertyType":"full","key":"topic","joiner":"\\n","timeout":"10","count":"2","x":1572.9999694824219,"y":1058.7999877929688,"wires":[["c1ff7e19.f9969","b3e85061.88507"]]},{"id":"c1ff7e19.f9969","type":"debug","z":"38bd63d5.88aa7c","name":"","active":true,"console":"false","complete":"true","x":1749.3999633789062,"y":1002,"wires":[]},{"id":"b3e85061.88507","type":"function","z":"38bd63d5.88aa7c","name":"checkMessage","func":"if(msg.payload.ip && msg.payload.port && msg.payload.payload){\n    return msg.payload;\n}\n","outputs":1,"noerr":0,"x":1754.5999603271484,"y":1059.000015258789,"wires":[["8dd35250.8a4c5","92500576.a63938"]]},{"id":"8dd35250.8a4c5","type":"debug","z":"38bd63d5.88aa7c","name":"","active":true,"console":"false","complete":"true","x":1979.2000579833984,"y":996.7999877929688,"wires":[]},{"id":"3d716340.db2bfc","type":"inject","z":"38bd63d5.88aa7c","name":"Add_Mebox(input MAC)","topic":"","payload":"5C-C5-D4-6A-31-37","payloadType":"str","repeat":"","crontab":"","once":false,"x":156.4124755859375,"y":1003.375,"wires":[["a1f8d3fa.8ce66"]]},{"id":"f78cd251.e7ee9","type":"file in","z":"38bd63d5.88aa7c","name":"discovered_mebox_list","filename":"","format":"utf8","x":606.4062194824219,"y":1004.0499877929688,"wires":[["7272975.8c2c968","277620b3.a6c0b","170eaf30.569371"]]},{"id":"97552e31.623b2","type":"file","z":"38bd63d5.88aa7c","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1047.3999633789062,"y":820.625,"wires":[]},{"id":"4592993e.a86118","type":"function","z":"38bd63d5.88aa7c","name":"handle_discover","func":"var deviceInfo = msg.payload.device;\nvar fileInfo = {\n    filename:\"./STORAGE/Discovered/\"+deviceInfo.MAC + \".txt\",\n    payload:{\n        peerInfo:{\n            ip:msg.ip,\n            port:4141\n        },\n        deviceInfo:deviceInfo\n    }\n}\nreturn fileInfo;","outputs":1,"noerr":0,"x":829.4061737060547,"y":835.1249847412109,"wires":[["97552e31.623b2","6ea7641a.de403c"]]},{"id":"170eaf30.569371","type":"function","z":"38bd63d5.88aa7c","name":"getPeerInfo","func":"return JSON.parse(msg.payload).peerInfo;","outputs":1,"noerr":0,"x":838.3999481201172,"y":1061.137451171875,"wires":[["61f0317e.86b21"]]},{"id":"a1f8d3fa.8ce66","type":"function","z":"38bd63d5.88aa7c","name":"get_file_name","func":"msg.filename = \"./STORAGE/Discovered/\" + msg.payload + \".txt\";\nreturn msg;","outputs":1,"noerr":0,"x":395.39996337890625,"y":1003.5249938964844,"wires":[["f78cd251.e7ee9"]]},{"id":"7272975.8c2c968","type":"debug","z":"38bd63d5.88aa7c","name":"","active":false,"console":"false","complete":"true","x":822.9999237060547,"y":1122.4437255859375,"wires":[]},{"id":"f90cda46.d616e8","type":"comment","z":"38bd63d5.88aa7c","name":"APP Discover----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------","info":"","x":925,"y":715.8874206542969,"wires":[]},{"id":"670522e2.e6a77c","type":"comment","z":"38bd63d5.88aa7c","name":"APP Control----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------","info":"","x":915,"y":40.818756103515625,"wires":[]},{"id":"5a3afd1a.3f73b4","type":"comment","z":"cbc4a4e9.d1cb38","name":"MeBox MQTT Server----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------","info":"","x":945,"y":20,"wires":[]},{"id":"a74a413f.a2f2b","type":"comment","z":"cbc4a4e9.d1cb38","name":"MeBox UDP Server----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------","info":"","x":945,"y":645.8187255859375,"wires":[]},{"id":"6574f6bc.f307b8","type":"inject","z":"38bd63d5.88aa7c","name":"add_device(MeBoost)","topic":"","payload":"3e83253c-ff4f-4fa8-b51c-0cb29c4ec0b9","payloadType":"str","repeat":"","crontab":"","once":false,"x":190.8125,"y":85.81875610351562,"wires":[["13b7705c.e77d"]]},{"id":"13b7705c.e77d","type":"function","z":"38bd63d5.88aa7c","name":"package_request","func":"var requestPayload = {\n    devices:[msg.payload],\n    topic:\"RPC_CALL\",\n    fromUuid:\"5a78df24-21b2-4577-a6fb-ad6d3791b0d1\",\n    callbackId: context.global.uuid.v4(),\n    payload:{\n        cmdName:\"set_pair\",\n        cmdCode:\"0004\",\n        options:null\n    }\n};\nvar request={\n    payload:requestPayload\n};\nreturn request;","outputs":1,"noerr":0,"x":440.8125,"y":85.81875610351562,"wires":[["884f2697.85dce8","7b429455.74e12c"]]},{"id":"9513a259.c48df","type":"function","z":"cbc4a4e9.d1cb38","name":"setPair","func":"var retMsg = {\n    payload:{\n        devices:[msg.fromUuid],\n        topic:\"RPC_BACK\",\n        fromUuid: msg.devices[0],\n        callbackId:msg.callbackId,\n        payload:{\n            retCode: 200,\n            description: \"set_pair\",\n            data: {\n                'description':'TEST_DATA',\n                'name':'MeBoost',\n                'userId':msg.fromUuid,\n                'owner':msg.devices[0],\n                'type':{\n                  'id':'040B08040003',\n                  'name':'MeBoost',\n                  'icon':''\n                },\n                'extra':{\n                    \"serialNo\" : \"E0D7B386010492AAD97A\",\n                    \"chanel\" : 0.0,\n                    \"ratedPower\" : 3067.0,\n                    \"FUMode\" : \"\",\n                    'FW-VAR':'0.1.11',\n                    'PRODUCT-TYPE':'WW010201-1000EU',\n                    'rfAddr':\"0xefefefef\"\n                }\n            }\n        }\n    }\n}\nreturn retMsg;","outputs":1,"noerr":0,"x":1094.8125,"y":492.8187255859375,"wires":[["2df5f38f.8fe2dc","ff2fed04.264f"]]},{"id":"adc6082d.633188","type":"function","z":"cbc4a4e9.d1cb38","name":"hanlde_config","func":" var retMsg = {\n    ip: msg.ip,\n    port: 4142\n};\nvar payload = {\n    'op':'config',\n    'result':'success'\n}\nretMsg.payload = JSON.stringify(payload);\nreturn retMsg;","outputs":1,"noerr":0,"x":815.8124847412109,"y":888.8187026977539,"wires":[["9225e8ef.e5d0e8","14608b77.971a25"]]},{"id":"e8a65beb.38db48","type":"function","z":"38bd63d5.88aa7c","name":"parse_message","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":387.8125,"y":884.8187255859375,"wires":[["511f02db.64ea2c"]]},{"id":"511f02db.64ea2c","type":"switch","z":"38bd63d5.88aa7c","name":"","property":"payload.op","propertyType":"msg","rules":[{"t":"eq","v":"discover","vt":"str"},{"t":"eq","v":"config","vt":"str"}],"checkall":"true","outputs":2,"x":606.5062103271484,"y":884.6561889648438,"wires":[["4592993e.a86118"],["e73c538e.93108"]]},{"id":"e73c538e.93108","type":"function","z":"38bd63d5.88aa7c","name":"handle_config","func":"return msg;","outputs":1,"noerr":0,"x":818.8125,"y":931.8187255859375,"wires":[["6ea7641a.de403c"]]},{"id":"f31bfc37.a013c","type":"switch","z":"38bd63d5.88aa7c","name":"","property":"payload.description","propertyType":"msg","rules":[{"t":"eq","v":"set_pair","vt":"str"},{"t":"eq","v":"set_mode","vt":"str"},{"t":"eq","v":"get_mode","vt":"str"},{"t":"eq","v":"get_meter","vt":"str"},{"t":"eq","v":"set_meter","vt":"str"},{"t":"eq","v":"get_timer","vt":"str"},{"t":"eq","v":"set_timer","vt":"str"},{"t":"eq","v":"set_map","vt":"str"}],"checkall":"true","outputs":8,"x":1068.4998626708984,"y":510.4561538696289,"wires":[["4d5357f9.25eda8"],["508870.4714979"],["5e39c5b7.0d91ac"],["11a1dd16.e349c3"],["ad9859e4.d160c8"],["86862f84.87c5e"],["eac760f0.a18ce"],["32936c93.8616d4"]]},{"id":"4d5357f9.25eda8","type":"function","z":"38bd63d5.88aa7c","name":"add_device","func":"if(msg.payload){\n    var request={\n        headers:{\n            \"meshblu_auth_uuid\":\"5a78df24-21b2-4577-a6fb-ad6d3791b0d1\",\n            \"meshblu_auth_token\":\"e058df154631c82002aa4a98d31e1ffd5b757afb\",\n            \"Content-Type\":\"application/json\"\n        },\n        payload:msg.payload.data\n    };\n    return request;\n}","outputs":1,"noerr":0,"x":1287.8125,"y":359.8187561035156,"wires":[["49ffb9c1.7ac788"]]},{"id":"49ffb9c1.7ac788","type":"http request","z":"38bd63d5.88aa7c","name":"","method":"POST","ret":"obj","url":"http://115.28.241.149:6565/devices","tls":"","x":1472.8125610351562,"y":359.81873321533203,"wires":[["fa57e702.14e468"]]},{"id":"fa57e702.14e468","type":"switch","z":"38bd63d5.88aa7c","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"201","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":1646.3125610351562,"y":359.8437271118164,"wires":[["92c53ff7.5fd15","1dd50ae.e7444f5","1bc328ba.a40837"],["7ff2e173.3730b"]]},{"id":"deb37512.1c1978","type":"file","z":"38bd63d5.88aa7c","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":2042.612548828125,"y":352.81878662109375,"wires":[]},{"id":"1dd50ae.e7444f5","type":"debug","z":"38bd63d5.88aa7c","name":"add_device_success","active":true,"console":"false","complete":"payload","x":1864.306396484375,"y":418.6562194824219,"wires":[]},{"id":"92c53ff7.5fd15","type":"function","z":"38bd63d5.88aa7c","name":"save_device","func":"var deviceInfo = msg.payload;\nvar fileInfo = {\n    filename:\"./STORAGE/Devices/\"+deviceInfo.uuid + \".txt\",\n    payload:deviceInfo\n}\nreturn fileInfo;","outputs":1,"noerr":0,"x":1831.612548828125,"y":352.8187561035156,"wires":[["deb37512.1c1978"]]},{"id":"7ff2e173.3730b","type":"debug","z":"38bd63d5.88aa7c","name":"add_device_failed","active":true,"console":"false","complete":"payload","x":1854.6125793457031,"y":472.8187561035156,"wires":[]},{"id":"508870.4714979","type":"debug","z":"38bd63d5.88aa7c","name":"set_mode","active":true,"console":"false","complete":"payload","x":1287.612548828125,"y":410.8187561035156,"wires":[]},{"id":"5e39c5b7.0d91ac","type":"debug","z":"38bd63d5.88aa7c","name":"get_mode","active":true,"console":"false","complete":"payload","x":1285.612548828125,"y":458.8187561035156,"wires":[]},{"id":"11a1dd16.e349c3","type":"debug","z":"38bd63d5.88aa7c","name":"get_meter","active":true,"console":"false","complete":"payload","x":1283.612548828125,"y":500.8187255859375,"wires":[]},{"id":"ad9859e4.d160c8","type":"debug","z":"38bd63d5.88aa7c","name":"set_meter","active":true,"console":"false","complete":"payload","x":1283.612548828125,"y":544.8187255859375,"wires":[]},{"id":"86862f84.87c5e","type":"debug","z":"38bd63d5.88aa7c","name":"set_timer","active":true,"console":"false","complete":"payload","x":1273.612548828125,"y":592.8187255859375,"wires":[]},{"id":"eac760f0.a18ce","type":"debug","z":"38bd63d5.88aa7c","name":"get_timer","active":true,"console":"false","complete":"payload","x":1272.612548828125,"y":634.8187255859375,"wires":[]},{"id":"1bc328ba.a40837","type":"function","z":"38bd63d5.88aa7c","name":"device_map","func":"var requestPayload = {\n    devices:[msg.payload.owner],\n    topic:\"RPC_CALL\",\n    fromUuid:\"5a78df24-21b2-4577-a6fb-ad6d3791b0d1\",\n    callbackId: context.global.uuid.v4(),\n    payload:{\n        cmdName:\"set_device_map\",\n        cmdCode:\"0005\",\n        options:{\n            uuid:msg.payload.uuid,\n            type:msg.payload.type.id,\n            address:msg.payload.extra.rfAddr\n        }\n    }\n};\nvar request={\n    payload:requestPayload\n};\nreturn request;","outputs":1,"noerr":0,"x":1830.8125,"y":291.8187561035156,"wires":[["7b429455.74e12c"]]},{"id":"80aa74d6.76c108","type":"function","z":"cbc4a4e9.d1cb38","name":"setMap","func":"var retMsg = {\n    payload:{\n        devices:[msg.fromUuid],\n        topic:\"RPC_BACK\",\n        fromUuid: msg.devices[0],\n        callbackId:msg.callbackId,\n        payload:{\n            retCode: 200,\n            description: \"set_map\",\n            data: msg.payload.options\n        }\n    }\n}\nreturn retMsg;","outputs":1,"noerr":0,"x":1094.8125,"y":544.8187255859375,"wires":[["abeb3ec4.cd46"]]},{"id":"abeb3ec4.cd46","type":"function","z":"cbc4a4e9.d1cb38","name":"save_device_map","func":"if(msg.payload){\n    msg.filename = './STORAGE/DeviceMap/DeviceMap.txt';\n    msg.payload = msg.payload.payload.data;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1638.4124755859375,"y":542.8186950683594,"wires":[["20274cd8.ad9094","459a2a5f.a056b4"]]},{"id":"20274cd8.ad9094","type":"debug","z":"cbc4a4e9.d1cb38","name":"","active":true,"console":"false","complete":"payload","x":1917.4124755859375,"y":543.2186584472656,"wires":[]},{"id":"459a2a5f.a056b4","type":"file","z":"cbc4a4e9.d1cb38","name":"DeviceMap","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1906.4124755859375,"y":593.4186706542969,"wires":[]},{"id":"32936c93.8616d4","type":"debug","z":"38bd63d5.88aa7c","name":"set_map","active":true,"console":"false","complete":"payload","x":1275.2125244140625,"y":676.8187255859375,"wires":[]},{"id":"2e1f7466.b7d6ec","type":"mqtt in","z":"38bd63d5.88aa7c","name":"app_client_subscribe","topic":"43dbb124-cdef-423d-af7a-2ab131b322b9","qos":"0","broker":"1c020914.315bb7","x":159,"y":590,"wires":[["9510edd8.e5f4","34cb8672.729aba"]]},{"id":"7b429455.74e12c","type":"mqtt out","z":"38bd63d5.88aa7c","name":"app_client_publish","topic":"message","qos":"0","retain":"false","broker":"1c020914.315bb7","x":1340,"y":134,"wires":[]},{"id":"c562b173.90914","type":"mqtt in","z":"cbc4a4e9.d1cb38","name":"MeBox_subscribe","topic":"3e83253c-ff4f-4fa8-b51c-0cb29c4ec0b9","qos":"0","broker":"86ab3f2e.24368","x":141,"y":234,"wires":[["f10fd8a1.a2fd08","f3349e91.3a46f"]]},{"id":"ff2fed04.264f","type":"mqtt out","z":"cbc4a4e9.d1cb38","name":"MeBox_publish","topic":"message","qos":"0","retain":"","broker":"86ab3f2e.24368","x":1935,"y":457,"wires":[]},{"id":"4f40b594.eb754c","type":"function","z":"38bd63d5.88aa7c","name":"","func":"msg.payload = msg.payload + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":426,"y":791,"wires":[["8db3ea77.a619c8","c0463b23.d44a48"]]},{"id":"c0463b23.d44a48","type":"debug","z":"38bd63d5.88aa7c","name":"","active":true,"console":"false","complete":"false","x":576,"y":835,"wires":[]},{"id":"92500576.a63938","type":"udp out","z":"38bd63d5.88aa7c","name":"","addr":"","iface":"","port":"","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1982,"y":1056,"wires":[]}]